@model Hotel_Project_Marti_i_Stanko.Models.Client

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(1>2){
<h1>yes</h1>
}
@if(1<2){
<h1>no</h1>}
<h1>Details</h1>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.firstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.firstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.lastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.lastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.phoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.phoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.isAdult)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.isAdult)
        </dd>
    </dl>
    <h4>Reservations</h4>
    @if (Model.ReservationClients is not null)
    {
        <h1>stupid1</h1>
    }
    @if (Model.ReservationClients!=null)
    {
        <h1>stupid2</h1>
    }
    <h1>@Model.ReservationClients.Count</h1>
    @foreach (var reservation in Model.ReservationClients)
    {
        <a asp-controller="Reservations" asp-action="Details" asp-route-id="@reservation.Reservation.Id"><h1>lele</h1></a>
        @if (reservation == null)
        {
            <a>ugh</a>
        }
    }
</div>


<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
