@model IEnumerable<Hotel_Project_Marti_i_Stanko.Models.Reservation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.checkInDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vacatingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.includingBreakfast)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isAllInclusive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.totalPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.checkInDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vacatingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.includingBreakfast)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isAllInclusive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalPrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
